<!DOCTYPE html>
<html>
	<head>
		<title>
			Team de The Gossip Project	
		</title>

	</head>

	<body>
		<% name = params[:name]%>

			<div class="jumbotron jumbotron-fluid text-center" id="jumbo">
				<div class="container justify-content-center">
					<h1 class="text-white">Bienvenue <%=name%> !</h1>
				</div>
			</div>

	<div class="">

	</div>

	<div class="container">
	<div class="row justify-content-center">
		<div>
			<div>
			<div class="card border border-info border-bottom-0">
				<div class="card-header">
				    <h3>
				    	<span class="badge badge-warning"><%=link_to "Creer un nouveau Gossip",new_gossip_path%></span>
				    </h3>
				</div>
			</div>
			
			</div>
			<% @gossips.each{ |index| %>
	    	<div class="card border border-info border-bottom-0">
				<div class="card-header">
				    Auteur : <%= index.user.first_name%>
				</div>
				<div class="card-body">
					    <h5 class="card-title"><%=link_to index.title, gossip_path(id: index.id )%></h5>
				</div>
			</div>
	    	<%} %>

	   	</div>
	</div>

	</div>
</body>


</html>
