<!DOCTYPE html>
<html>
	<head>
		<title>
			Team de The Gossip Project	
		</title>
		<div class="jumbotron jumbotron-fluid text-center" id="jumbo2">
					<div class="container justify-content-center">
						<h1 class="text-white">Notre team </h1>
					</div>
		</div>

	</head>

	<body>
		<div class="d-flex justify-content-around">
		    <div class="">
		    	<div class="card" style="width: 20rem;">
				  <img class="card-img-top" src="https://d3s4rtoucjtwa6.cloudfront.net/artistes/1500-1582041322.jpg" alt="...">
				  <div class="card-body">

				    <h4 class="card-title">Programmeur du dimanche</h4>
				    <p class="card-text">Email : <a href="">progdimanche@example.com</a> </p>
			 	</div>

		    </div>
		    <div class="">
			    <div class="card" style="width: 20rem;">
					  <img class="card-img-top" src="https://djbooth.net/.image/t_share/MTY5OTQ3MzQ3NTI5MjQ2Mjgx/tyler-the-creator-best-rap-album-no.jpg" alt="...">
					  <div class="card-body">

					    <h4 class="card-title">Chasseur de bugs à plein temps</h4>
					    <p class="card-text">Email : <a href="">robby_johnston@example.org</a> </p>
				 </div>
		    </div>
		    <div class="">
		    	<div class="card" style="width: 20rem;">
				  <img class="card-img-top" src="https://i.pinimg.com/236x/15/5d/b3/155db34d6ed80a64c8184212b9d93b5f.jpg" alt="...">
				  <div class="card-body">

				    <h4 class="card-title">Sporty granny</h4>
				    <p class="card-text">Email : <a href="">grannyflex@example.org</a> </p>
			 </div>
		    	
		    </div>
	  	</div>

	</body>


</html>