

<!DOCTYPE html>
<html>
	<head>
		<title>
			Team de The Gossip Project	
		</title>

	</head>

	<body>
		<div class="jumbotron jumbotron-fluid text-center" id="jumbo3">
					<div class="container justify-content-center">
						<h3 class="text-white">Contactez nous : <a href="#">gossip_project@example.org</a> </h3>
					</div>
		</div>

	</body>

</html>