// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jumbo3{
  height: 150px;
  width:100%;
  background-image: url("https://lh3.googleusercontent.com/proxy/2yxZh75PDBCtWYNsrNbhAhGu52yCpOTKmR-3ogwxvTT8TdHBILTcq2eQBQL70ARa2CzXimqFj24PHtqR5qo89M7VutULFs3iRmM");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}