// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jumbo2{
  height: 150px;
  width:100%;
  background-image: url("https://wallpapertag.com/wallpaper/full/d/b/7/715600-new-funky-wallpaper-1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}